.line-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.line, .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 100%;
}
.line {
    background-color: #000;
    animation: slide 12s infinite;
}
.text {
    font-size: 20px;
    color: #000;
    white-space: nowrap;
    animation: slideText 12s infinite;
}
@keyframes slide {
    0%, 100% {
        left: 0;
    }
    25%, 75% {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    50% {
        left: 100%;
        transform: translate(-100%, -50%);
    }
}
@keyframes slideText {
    0%, 20%, 100% {
        opacity: 0;
        left: 0;
    }
    25%, 45% {
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
    }
    50%, 70% {
        opacity: 1;
        left: 100%;
        transform: translateX(-100%);
    }
    75%, 95% {
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
    }
}