.animate-contain {
    font-size: 2.26rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .animate-contain{
        flex-direction: column;
        text-align: center;
    }
}

.animation {
    height: 60px;
    overflow: hidden;
    margin: 0 1rem;
}
.animation > div > div {
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}
.animation div:first-child {
    animation: text-animation 6s linear infinite;
}

@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.gallery-item {
    cursor: pointer;
    width: 100%;
    max-width: 30%;
    transition: transform .5s;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 800px;
    width: 100%;
    position: relative;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.description-container {
    margin-top: 1rem;
    text-align: left;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slideshow-slide {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slideshow-slide img {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1001;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.fade-in-section {
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
}

.buttons a.disabled {
    display: none;
}

